body {
    background: #242423;
    margin: 0px;
}

.box {
    height: 30px;
    width: 30px;
    transform: translate(50%, 50%);
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes move {
    100% {transform: translate(50vw, 50vh) scaleX(10) skew(60deg);}
}

.box-red {
    background: #ff4d4d;
}

.box-blue {
    background: #738cff;
}

.box-green {
    background: #46ff36;
}

.box-orange {
    background: #ffaf24;
}

